svg {
  display: inline-block;
  width: 150px;
  stroke: black;
  &:hover {
    stroke: gray;
  }
}
path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  transition: 1s;
}
.letter--d, .letter--a, .letter--n, .letter--i, .letter--e, .letter--l {
  width: 100px;
  margin: 0;
}
.letter--th, .letter--o, .letter--r {
  width: 100px;
  margin: 0;
}
.letter--g, .letter--e2, .letter--s, .letter--t, .letter--o2, .letter--n2{
  width: 100px;
  margin: 0;
}
